body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  color: #252525;
}

a {
  text-decoration: none;
  color: #252525;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 10px;
}

.loading {
  margin: 0 auto;
}

.option {
  border: 1px solid #d0d0d0;
  margin: 10px;
  border-radius: 2px;
}

.option:hover {
  border: 2px solid #252525;
  cursor: pointer;
}

.chosen {
  border: 2px solid #00b5d6;
}

.result {
  display: flex;
  justify-content: space-between;
}

.question-author,
.user {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1em 0 0;
  font-weight: bold;
  text-transform: uppercase;
}
.login-container {
  margin: 4em auto 0;
}
.login-container h1,
.login-container h2 {
  text-align: center;
}
.login-container h2 {
  font-size: 1em;
}
.user {
  margin: 1em auto;
  width: 50%;
  border: 1px solid gray;
  cursor: pointer;
}
.user:hover {
  border: 2px solid black;
}

.question-author img,
.user img {
  width: 40px;
  height: 40px;
  border-radius: 20px;
  margin: 0 10px;
}

.btn {
  text-transform: uppercase;
  margin: 35px auto;
  padding: 10px;
  border: 1px solid rgba(0,0,0,.29);
  cursor: pointer;
  background: #fff;
  font-size: 16px;
  width: 250px;
  position: relative;
}

.btn:hover {
  border-color: rgba(0,0,0,.5);
  text-decoration: none;
}

.btn:focus {
  outline: 0;
  font-weight: 700;
  border-width: 2px;
}

.center {
  text-align: center;
}

.active {
  font-weight: bold;
}

.nav ul {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  text-decoration: none;
}
.nav li:first-child {
  padding-left: 0;
}
.nav li h2 {
  margin: -6px 0 0;
}
.logged {
  margin-left: 10vw;
}
.logged-user {
  display: -ms-inline-flexbox;
  display: inline-flex;
}
.logged-user-avatar {
  margin-top: -14px;
  margin-right: 2px;
  height: 40px;
  /* border-radius: 25px; */
}

ul {
  padding-left: 0;
}

li {
  list-style-type: none;
  padding: 10px;
  text-decoration: none;
}

.dashboard-toggle {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 22px;
}

.dashboard-toggle button {
  border: none;
  background: transparent;
  font-size: 22px;
}

.dashboard-list {
  font-size: 18px;
  letter-spacing: .4px;
  text-align: center;
}

.dashboard-list a:hover {
  font-weight: 600;
}

.add-question-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.question-container {
  width: 60%;
  margin: 0px auto;
  display: flex;
  flex-direction: column;
}

.question {
  font-size: 24px;
  text-align: center;
  margin-bottom: 0;
}

.avatar {
  width: 40px;
  height: 40px;
  border-radius: 20px;
  margin-top: 10px;
}

.user {
  display: flex;
}

.user h1 {
  margin: 0;
  font-size: 30px;
}

.user img {
  width: 40px;
  height: 40px;
  border-radius: 20px;
  margin-right: 20px;
}

.user p {
  margin-top: 6px;
  margin-bottom: 6px;
}

@media (max-width: 500px) {
  .poll-container {
    width: 95%;
    flex-direction: column;
  }
}

.add-form {
  margin: 0 auto;
  width: 600px;
}

input {
  display: block;
  box-sizing: border-box;
  width: 100%;
  outline: none;
  border: none;
  border-radius: 0;
  appearance: none;
  margin-bottom: 20px;
}

.btn {
  display: block;
  text-transform: uppercase;
  margin: 35px auto;
  padding: 10px;
  border: 1px solid rgba(0,0,0,.29);
  cursor: pointer;
  background: #fff;
  font-size: 16px;
  width: 250px;
  position: relative;
}
.btn:hover {
  font-weight: bold;
}

.label {
  display: block;
  margin-bottom: 0.25em;
  font-size: 20px;
}

.input {
  padding: 5px;
  border-width: 1px;
  border-style: solid;
  border-color: lightgray;
  background-color: white;
  font-size: 18px;
}
.input:focus {
  border-color: gray;
}

/* Leader Board */
.entry {
  display: flex;
  margin: 1em 0;
}
.entry-user {
  flex: 0 1 auto;
  padding-bottom: 10px;
}
  .entry-user__avatar {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 90px;
    font-size: 70px;
    line-height: 0;
  }
  .entry-user__avatar img {
    width: 75%;
    height: auto;
  }
  .entry-user__name {
    font-size: 12px;
    font-weight: 700;
    line-height: 1;
    text-align: center;
  }
.entry-body {
  display: flex;
  flex: 1 1 0%;
  position: relative;
  padding: 5px 15px 15px;
  border: 1px solid #CAD0D2;
  border-radius: 4px;
}
.entry-body:after,
.entry-body:before {
  right: 100%;
  top: 35px;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}
.entry-body:after {
  border-color: transparent;
  border-right-color: #ffffff;
  border-width: 8px;
  margin-top: -8px;
}
.entry-body:before {
  border-color: transparent;
  border-right-color: #CAD0D2;
  border-width: 9px;
  margin-top: -9px;
}
  .entry-body__content {
    font-size: 15px;
  }
  .entry-body__score {
    margin-top: 5px;
    margin-left: auto;
    padding: 1.5em 2em;
    border-radius: 6px;
    background-color: #6ACAFD;
    color: white;
    font-size: 10px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1px;
  }
  .entry-body__score span {
    margin: 10px 0 0;
    color: white;
    font-size: 4em;
    font-style: italic;
  }